= simple_form_for [page, article_list] do |f|

  = f.input :name, wrapper_html: { class: 'grid_6 suffix_6' }
  = f.input :number_of_articles, wrapper_html: { class: 'grid_6 suffix_6' }

  %fieldset.grid_7
    %legend
      %label= t('words.articles').capitalize
    = f.simple_fields_for :list_articles do |builder|
      = render 'list_article_fields', :f => builder
    .grid_12= add_child_link t('pages.list_article.new'), :list_articles

  = new_child_fields_template f, :list_articles

  .action-buttons.grid_12
    = f.button :submit
    = link_to t('pages.cancel'), edit_page_path(page)
