- content_for :title do
  ! #{t('pages.manual_article_list.edit')} – #{@page.name}

- content_for :header do
  %em #{t('pages.manual_article_list.edit')}
  – #{link_to(@page.name, @page)}

= render 'new_edit', article_list: @article_list, page: @page
