- content_for :title do
  = title_and_header(@v2, @v1, @article)

- content_for :header do
  = title_and_header(@v2, @v1, @article)
  
%aside.back-link
  = link_to '« ' + t('articles.versions.back', :for => @article.headword), article_versions_path(@article)

.articletext.diff!= diff(@v2.text, @v1.text).html_safe

%aside.meta
  .added= render :partial => 'medias/image_in_article', :collection => @imgdiff[:added], :as => :image
  .removed= render :partial => 'medias/image_in_article', :collection => @imgdiff[:removed], :as => :image
  .unchanged= render :partial => 'medias/image_in_article', :collection => @imgdiff[:intersect], :as => :image