- content_for :header do
  = t('users.login.log_in')

.grid_6
  .facebook
    %p.fb-button
      = link_to user_omniauth_authorize_path(:facebook) do
        %span.fb-button-text= t('users.login.facebook.log_in')

    %p= t('users.login.facebook.info')
    %dl
      %dt= t('users.login.facebook.name_and_picture')
      %dd= t('users.login.facebook.name_and_picture_desc')
      %dt= t('users.login.facebook.email')
      %dd= t('users.login.facebook.email_desc')
