- content_for :title do
  = t('users.profile.profile', :for => @user.name_or_email)

- content_for :header do
  = @user.name_or_email

= render :partial => 'info', :locals => { :user => @user }

%table.articles
  %caption= t('users.profile.last_articles')
  %thead
    %tr
      %th= t('articles.headword')
      %th= t('articles.last_updated')
  %tfoot
    %tr
      %td{:colspan => 2}= link_to t('users.profile.all_articles') + " »", user_articles_path(@user)
  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.headword, pretty_article_path(article)
        %td= timeago(article.updated_at)
