- unless @article.new_record?
  = render :partial => 'info', :locals => { :article => @article }
= render :partial => "common/flash"

= semantic_form_for setup_article(@article) do |f|
  = f.inputs do
    = f.input :headword, :label => false, :input_html => {:class => 'headword', :'data-tooltip-enable' => true, :title => t('tooltips.articles.headword')}
    = f.input :text, :as => :ckeditor, :label => false, :input_html => { :cols => '80', :class => 'articletext' }
    = f.input :tags
    = f.semantic_fields_for :location, :builder => Maptastic::SemanticFormBuilder do |location_f|
      = location_f.multi_input :latitude, :longitude, :as => :map, :label => :location,
        :zoom => :zoom, :search => true, :search_label => t('formtastic.labels.other.maptastic-search'),
        :hint => t('formtastic.labels.other.maptastic-hint')
      
    = f.input :headword_presentation, :input_html => { :'data-tooltip-enable' => true, :title => t('tooltips.articles.headword_presentation')}
    = f.input :disambiguation, :as => :text, :input_html => { :rows => 4 }

  = f.buttons do
    = f.commit_button
  - session_key_name = Rails.application.config.session_options[:key]
  = hidden_field_tag session_key_name, cookies[session_key_name], :id => 'session_key_name'

#image-editor
  .container
  .actions
    %button{:name => 'crop'} Beskjær
    %button{:name => 'cancel'} Avbryt