%article
  %header
    %h2= @article.headword || t('articles.new')
    - unless @article.new_record?
      %aside
        %ul
          %li> Bidragsytere
          %li> Siste oppdatert

  = semantic_form_for @article do |f|
    = f.input :headword
    = f.input :text, :as => :text
    = f.input :lng
    = f.input :lat
    = f.buttons do
      = f.commit_button
