- content_for :header do
  = @article.headword || t('articles.new')

- unless @article.new_record?
  = render :partial => 'info', :locals => { :article => @article }
- unless user_signed_in?
  %aside.article-messages!= t('articles.login_teaser', :login_link => link_to(t('articles.login_link'), user_omniauth_authorize_path(:facebook)))
= semantic_form_for @article do |f|
  = f.inputs do
    - if @article.new_record?
      = f.input :headword, :input_html => {:class => 'headword'}
    = f.input :text, :as => :text, :input_html => { :cols => '80', :class => 'articletext' }
    = f.input :tags
    = f.input :headword_presentation, :input_html => { :'data-tooltip-enable' => true, :title => t('tooltips.articles.headword_presentation')}
  = f.buttons do
    = f.commit_button
