- content_for :canonical do
  ! <link href="#{pretty_article_path(@article)}" rel="canonical" />

- content_for :title do
  #{@article.headword_presentation}

- content_for :header do
  = @article.headword_presentation

= render :partial => 'info', :locals => { :article => @article }
= render :partial => 'redirected_from', :locals => { :from => flash[:redirected_from] }
= render :partial => 'disambiguation', :locals => { :article => @article }
= render :partial => "common/flash"

.articletext!= @article.text

%aside.meta
  - unless @article.location.blank?
    %figure
      %img{:src => @article.location.static_map('288x150'), :width => 288, :height => 150}
  - @article.medias.each do |m|
    %figure
      - i = m.file.thumb("288x>")
      %img{:src => i.url, :width => i.width, :height => i.height}
      %figurecaption= m.description
    
- unless @article.external_links.blank?
  %aside.external-links
    %h3= t('external_links.external_links')
    %ul
      - @article.external_links.each do |link|
        %li
          %a{:href => link.href}=link.text
%aside.tags
  %h3= t('tags.tags')
  - if @article.tags_array.empty?
    %p!= t('tags.no_tags', :add_tags_link => link_to(t('tags.add_tags'), edit_article_path(@article)))
  - else
    %ul
      - @article.tags_array.each do |tag|
        %li>= link_to tag, "#TODO", :class => "TODO"
