- content_for :canonical do
  ! <link href="#{pretty_article_path(@article)}" rel="canonical" />

- content_for :header do
  = @article.headword_presentation

= render :partial => 'info', :locals => { :article => @article }
= render :partial => 'redirected_from', :locals => { :from => flash[:redirected_from] }
.articletext!= @article.text
%aside.tags
  %h3 Nøkkelord
  %ul
    - @article.tags_array.each do |tag|
      %li>= link_to tag, "#TODO"
