- content_for :title do
  = t('alphabetic.description', :letter => @letter.mb_chars.upcase.to_s)

- content_for :header do
  -# Når Ruby 1.9.2 er støttet på Heroku, se http://unicode-utils.rubyforge.org/
  #{@letter.mb_chars.upcase.to_s} #{@letter.mb_chars.downcase.to_s}

%section.alphabetic
  %aside.intro!= t('alphabetic.intro', :letter => @letter.mb_chars.upcase)
  %ul
    - @articles.each do |article|
      %li= link_to article.headword, pretty_article_path(article)
