= simple_form_for page do |f|
  = f.input :name, wrapper_html: { class: 'grid_6 suffix_6' }

  .action-links.grid_12
    = add_list_link :manual_article_list, page
    |
    = add_list_link :sorted_article_list, page
    |
    = add_list_link :tags_article_list, page

  %ul#article-lists
    - page.article_lists.each_with_index do |list, i|
      = f.simple_fields_for list.class.to_s.pluralize.underscore.to_sym, list do |builder|
        = render "article_list", page: page, builder: builder, list: list, i: i

  .action-buttons.grid_12
    = f.button :submit
    = f.button :submit, value: t('helpers.submit.page.publish'), id: 'page_publish', name: 'publish'
    = link_to t('pages.cancel'), page_path(page)
