- header = capture do
  = render :partial => 'mobile/header', :locals => {:title => t('mime.mobile.title')}
  
- footer = capture do
  = render :partial => 'mobile/footer', :locals => {:footer => t('mime.mobile.footer')}
  
- content = capture do
  %ul{:data => {:role => 'listview', :inset => 'true'}}
    %li
      %a{:href => '#recommended'}= t('mime.mobile.menu.recommended_articles')
    %li
      = link_to t('mime.mobile.menu.search'), search_path
    %li
      = link_to t('mime.mobile.menu.nearby_articles'), '#' # nearby_search_path
    %li
      = link_to t('mime.mobile.menu.random_article'), '#' # random_article_path

= mobile_page(header, content, footer)

= render :partial => 'mobile/recommended', :locals => {:page => @page}

