= simple_form_for [page, article_list] do |f|

  = f.input :name, wrapper_html: { class: 'grid_6 suffix_6' }
  = f.input :number_of_articles, wrapper_html: { class: 'grid_6 suffix_6' }
  = f.input :tags, wrapper_html: { class: 'grid_6 suffix_6' }

  .action-buttons.grid_12
    = f.button :submit
    = link_to t('pages.cancel'), edit_page_path(page)
