%tr{:class => [(current ? 'current' : nil ), "version-number-#{version.version}"].compact.join(' ')}
  %td.version_number
    = version.version
  %td.version_date
    = l(version.updated_at)
  %td.author
    - if version.authors.blank?
      = version.ip
    - else
      != version.authors.map {|a| link_to a.name_or_email, user_path(a.email)}.join(', ')
