- content_for :title do
  = t('articles.versions.version_log', :for => @article.headword_presentation)

- content_for :header do
  <em>#{t('articles.version_log')}</em> – #{@article.headword_presentation}

- caption = link_to(@article.headword, pretty_article_path(@article)) + ' ' + t('articles.versions.count', :count => @versions.size + 1)

%table.versions{:caption => caption, :summary => t('articles.versions.summary')}
  %caption= caption
  %thead
    %tr
      %th= t('articles.versions.version')
      %th= t('articles.versions.date')
      %th= t('articles.versions.author')
  %tbody
    = render :partial => 'version_info', :locals => { :version => @article, :current => true }
    - @versions.reverse.each do |version|
      = render :partial => 'version_info', :locals => { :version => version, :current => false }
