- content_for :title do
  = t('articles.versions.version_log', :for => @article.headword_presentation)

- content_for :header do
  <em>#{t('articles.version_log')}</em> – #{link_to(@article.headword_presentation, pretty_article_path(@article))}

%aside.back-link
  = link_to '« ' + t('articles.back'), pretty_article_path(@article)

- caption = link_to(@article.headword_presentation, pretty_article_path(@article)) + ' ' + t('articles.versions.count', :count => @versions.size + 1)


= form_tag article_diff_path, :method => :get do
  %table.versions{:caption => caption, :summary => t('articles.versions.summary')}
    %caption= caption
    %thead
      %tr
        %th= t('articles.versions.version')
        %th= t('articles.versions.date')
        %th= t('articles.versions.author')
    %tbody
      = render :partial => 'version_info',
        :collection => [@article, @versions.reverse].flatten, 
        :as => :version,
        :locals => { :current => false }
  = submit_tag t('articles.versions.compare')