- content_for :header do
  = t('articles.version_log')

- if @versions.blank?
  %p= t('articles.versions.only_one')
- else
  %p= t('articles.versions.count', :count => @versions.size + 1)

%ul.versions
  = render :partial => 'version_info', :locals => { :version => @article }
  - @versions.reverse.each do |version|
    = render :partial => 'version_info', :locals => { :version => version }
