#user-links

%script{:id => 'user-links-tmpl', :type => 'text/x-jquery-tmpl'}
  %ul
    {{if name_or_email}}
    %li!= t('users.login.logged_in_as', :user_href => link_to('${name_or_email}', [users_path, '${email}'].join('/'), :rel => 'nofollow'))
    %li #{t('users.login.not_you')} #{link_to t('users.login.log_out'), destroy_user_session_path}
    {{else}}
    %li= t('users.login.help_us')
    %li.fb-button
      = link_to user_omniauth_authorize_path(:facebook) do
        %span.fb-button-text= t('users.login.facebook.log_in')
    {{/if}}
