%figure
  - i = image.file.thumb("700x400#nw")
  = df_image_tag(i.url)
  %figcaption
    = image.description
    %p.license
      = t('articles.images.photographer', author: image.author)
      %br
      - if image.license == :cc_by_sa
        = link_to image_tag("cc_by_sa.png", alt: "Creative Commons-lisens"), "http://creativecommons.org/licenses/by-sa/3.0/no/", target: '_blank'
      - else
        © #{image.created_at.year}
