- content_for :title do
  ! #{t('articles.images.add')} #{@article.headword_presentation}

- content_for :header do
  <em>#{t('articles.images.add')}</em> – #{link_to(@article.headword_presentation, pretty_article_path(@article))}

= render :partial => 'articles/info', :locals => { :article => @article }

= render :partial => "common/flash"

- @images.each do |image|
  / .grid_3
  /   = df_image_tag(image.file.thumb("220x175#nw").url, size: "220x175")

.grid_7
  %h2 Last opp
  .upload-wizard
    .step.active
      .grid_1.alpha
        %p= t('words.step').capitalize
        %p.number 1
        %p= t('words.of', number: '2')
      .grid_6.omega
        #uploader{ data: { url: article_images_path }}
    .arrow.grid_1.suffix_6.alpha
      &#8595;
    .step
      .grid_1.alpha
        %p= t('words.step').capitalize
        %p.number 2
        %p= t('words.of', number: '2')
      .grid_6.omega
        %h2= t('articles.images.upload_wizard.edit_info')
