!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title<= content_for?(:title) ? yield(:title) : t('mime.title')
    %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : 'TODO - generell meta description'}
    %meta{:'http-equiv' => "content-language", :content => "no"}
    = yield :canonical

    = stylesheet_link_tag "http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css"
    = stylesheet_link_tag "application"

    /[if lt IE 9]
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"}
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
    %script{:src => "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"}
    %script{:src => "http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js"}
    %script{:src => "http://www.google.com/jsapi?key=ABQIAAAA5Dv5TxV8lPXuM3G_ZxUKdBRzYoIzFCn6WH8ww2gK3BwzWZF03hTYnQj9-M47JSP4lbSEWBeHiVcSQQ"}
    %script{:src => "http://use.typekit.com/odc3uil.js"}
    / %script{:src => "http://cachedcommons.org/cache/modernizr/1.5.0/javascripts/modernizr-min.js"}
    / %script{:src => "http://github.com/Modernizr/Modernizr/raw/master/modernizr.js"}
    %script{:src => "http://github.com/Modernizr/Modernizr/raw/68a332b5da53cfdfb46194ab4d00601e3e05b335/modernizr.js"}
    = javascript_include_tag :ckeditor, :defaults

    = csrf_meta_tag
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

  %body
    .container
      %header
        .title= link_to t('mime.title'), root_path
        = render "common/user-links"
        = render :partial => "common/search"
        = render :partial => "common/nav"

      = render :partial => "common/flash"

      %section#main
        - if controller_name == 'articles'
          %article
            %header
              %h1<= yield :header
            = yield
        - else
          %header
            %h1<= yield :header
          = yield

        %footer
          %p Leksikonet er en tjeneste fra Budstikka.Media #{image_tag 'budstikka-logo-bw.png'}
