<!DOCTYPE html>
<html>
<head>
  <title>Mime</title>
  <%= stylesheet_link_tag :all %>
  <%= formtastic_stylesheet_link_tag %>
  <%= javascript_include_tag %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <%- end -%>
  <% if flash[:error] %>
    <div id="error">
      <%= flash[:error] %>
    </div>
  <%- end -%>
</div>

<%= yield %>

</body>
</html>
