!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title<= content_for?(:title) ? "#{yield(:title)} – #{t('mime.title')}" : t('mime.title')
    %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : 'TODO - generell meta description'}
    %meta{:'http-equiv' => "content-language", :content => "no"}
    - unless cached_page?
      %meta{:'http-equiv' => "cache-control", :content => "no-cache"}
    = yield :canonical

    = include_stylesheets :all

    /[if lt IE 9]
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"}
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js"}
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

    %script{:src => "http://use.typekit.com/odc3uil.js"}
    = yield :javascripts
    = include_javascripts :all

    = csrf_meta_tag
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

  %body
    #TODO
    .container
      %header
        .title= link_to t('mime.title'), root_path
        = render "common/user-links"
        = render :partial => "common/search"
        = render :partial => "common/nav"

      %section#main
        - if controller_name == 'articles'
          %article
            %header
              %h1<= yield :header
            = yield
        - else
          %header
            %h1<= yield :header
          = render :partial => "common/flash"
          = yield

        %footer
          %p Leksikonet er en tjeneste fra Budstikka.Media #{image_tag 'budstikka-logo-bw.png'}
    = javascript_include_tag 'http://www.budstikka.no/js/spring.js'
    :javascript
      var tns_site = { 's': 'budstikka', 'cp': 'budstikka/ableksikon.no#{scores_section}', 'url': document.location.href };
      spring.c(tns_site);
    %noscript
      %img{:src => "http://budstikka.tns-cs.net/j0=,,,+,cp=budstikka/ableksikon.no#{scores_section};;;"}
      
