!!! 5
%html{lang: 'no'}
  %head
    %title<!= content_for?(:title) ? "#{yield(:title).strip} – #{t('mime.title')}" : t('mime.title')
    %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : t('mime.description')}
    - if %w(edit new create update).include? action_name
      %meta{:name => 'robots', :content => 'noindex, nofollow'}
    = yield :canonical

    = include_stylesheets :all
    = favicon_link_tag

    /[if lt IE 9]
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"}
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js"}
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

    %script{:src => "http://use.typekit.com/odc3uil.js"}
    %script{:src => "/js/"}

    = yield :javascripts
    = include_javascripts :all

    = csrf_meta_tag

  %body
    %header
      = render :partial => "common/branding-header"

      .wrapper
        .title
          = link_to(image_tag('logo-title.png', :size => '373x50', :alt => t('mime.title')), root_path)
          %p= t('mime.header')
        = render :partial => "common/user-links"
        = render :partial => "common/search"
      = render :partial => "common/nav"

    #main{:class => "#{controller_name} #{action_name}"}
      - if controller_name == 'articles'
        %article
          %header
            %h1<= yield :header
          .wrapper
            = yield
      - else
        - if content_for? :header
          %header
            %h1<= yield :header
        .wrapper
          = render :partial => "common/flash"
          = yield

    %footer
      = render :partial => 'common/scores'
      = render :partial => 'common/google_analytics'
      - if content_for? :footer
        .wrapper
          = yield :footer
      = render :partial => "common/branding-footer"

    - unless %w(edit new create update).include?(action_name)
      = render :partial => 'common/bottom-ad'

    #jstemplates
      = yield :jstemplates
