!!! 5
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}

  %title<!= content_for?(:title) ? "#{yield(:title).strip} – #{t('mime.title')}" : t('mime.title')
  %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : t('mime.description')}
  - if %w(edit new create update).include? action_name
    %meta{:name => 'robots', :content => 'noindex, nofollow'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

  = yield :canonical

  = stylesheet_link_tag 'application'
  = favicon_link_tag
  %script{:src => "/js/"}
  = yield :javascripts
  = javascript_include_tag 'application'

  = csrf_meta_tag

%body
  = render :partial => "common/branding-header"

  %header.container_12
    .title.grid_6
      = link_to(image_tag('logo-title.png', :size => '373x50', :alt => t('mime.title')), root_path)
      %p= t('mime.header')
    .top-right.grid_6
      = render :partial => "common/user-links"
      = render :partial => "common/search"

  = render :partial => "common/nav"

  #main{:class => "#{controller_name} #{action_name}", role: 'main'}
    - if controller_name == 'articles'
      %article.container_12.clearfix
        %header.grid_12
          %h1<= yield :header
        = yield
    - else
      .container_12
        - if content_for? :header
          %header.grid_12
            %h1<= yield :header
        = render :partial => "common/flash"
        = yield

  %footer
    = render :partial => 'common/scores'
    = render :partial => 'common/google_analytics'
    - if content_for? :footer
      = yield :footer
    = render :partial => "common/branding-footer"

  - unless %w(edit new create update).include?(action_name)
    = render :partial => 'common/bottom-ad'

  #jstemplates
    = yield :jstemplates

</html>
