!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title<!= content_for?(:title) ? "#{yield(:title).strip} – #{t('mime.title')}" : t('mime.title')
    %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : t('mime.description')}
    %meta{:'http-equiv' => "content-language", :content => "no"}
    - if %w(edit new create update).include? action_name
      %meta{:name => 'robots', :content => 'noindex, nofollow'}
    = yield :canonical

    = include_stylesheets :all
    = favicon_link_tag

    /[if lt IE 9]
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"}
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js"}
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

    %script{:src => "http://use.typekit.com/odc3uil.js"}
    = yield :javascripts
    = include_javascripts :all

    = csrf_meta_tag

  %body
    %header
      #wrapper
        .title
          = link_to(image_tag('logo-title.png', :size => '373x50', :alt => t('mime.title')), root_path)
          %p= t('mime.header')
        = render "common/user-links"
        = render :partial => "common/search"
      = render :partial => "common/nav"

    #main{:class => "#{controller_name} #{action_name}"}
      - if controller_name == 'articles'
        %article
          %header
            %h1<= yield :header
          #wrapper
            = yield
      - else
        - if content_for? :header
          %header
            %h1<= yield :header
        #wrapper
          = render :partial => "common/flash"
          = yield

    %footer
      #wrapper
        = yield :footer
        = image_tag 'budstikka-logo-bw.png', :size => '237x50'

    = render :partial => 'common/scores'
    = render :partial => 'common/google_analytics'
    - unless %w(edit new create update).include?(action_name)
      = render :partial => 'common/bottom-ad'
