!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title<= content_for?(:title) ? "#{yield(:title)} – #{t('mime.title')}" : t('mime.title')
    %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : 'TODO - generell meta description'}
    %meta{:'http-equiv' => "content-language", :content => "no"}
    = yield :canonical

    = stylesheet_link_tag "http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css"
    = stylesheet_link_tag "application"

    /[if lt IE 9]
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"}
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js"}
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
    %script{:src => "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"}
    %script{:src => "http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js"}
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false&region=NO"}
    %script{:src => "http://use.typekit.com/odc3uil.js"}
    = javascript_include_tag :ckeditor, :defaults

    = csrf_meta_tag
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

  %body
    #TODO
    .container
      %header
        .title= link_to t('mime.title'), root_path
        = render "common/user-links"
        = render :partial => "common/search"
        = render :partial => "common/nav"

      %section#main
        - if controller_name == 'articles'
          %article
            %header
              %h1<= yield :header
            = yield
        - else
          %header
            %h1<= yield :header
          = yield

        %footer
          %p Leksikonet er en tjeneste fra Budstikka.Media #{image_tag 'budstikka-logo-bw.png'}
