!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title<!= content_for?(:title) ? "#{yield(:title).strip} – #{t('mime.title')}" : t('mime.title')
    %meta{:name => 'description', :content => content_for?(:description) ? yield(:description) : t('mime.description')}
    %meta{:'http-equiv' => "content-language", :content => "no"}
    = yield :canonical

    = stylesheet_link_tag 'mobile'
    = favicon_link_tag

    %script{:src => "/js/"}

    = yield :javascripts
    = javascript_include_tag 'mobile'

    = csrf_meta_tag

  %body
    = yield
    - with_format :html do
      = render :partial => 'common/scores'
      = render :partial => 'common/google_analytics'
